In [1]:
import pandas as pd
import os

In [2]:
archivo=pd.read_csv("https://raw.githubusercontent.com/ComputoCienciasUniandes/FISI2029-201910/master/Seccion_1/Fourier/Datos/transacciones2008.txt",sep=";", header=None, names=[ "Fecha" , "Hora","c", "Precio" ] )
archivo["Fecha"] = archivo["Fecha"].astype(str).str[0:-8]
archivo["Hora"] = archivo["Hora"].astype(str).str[-8:]  

#print(archivo)

In [3]:
archivo2=pd.read_csv("https://raw.githubusercontent.com/ComputoCienciasUniandes/FISI2029-201910/master/Seccion_1/Fourier/Datos/transacciones2009.txt",sep=";", header=None, names=[ "Fecha" , "Hora","c", "Precio" ])
archivo2["Fecha"] = archivo2["Fecha"].astype(str).str[0:-8]
archivo2["Hora"] = archivo2["Hora"].astype(str).str[-8:] 
#print(archivo2)

In [4]:
archivo3=pd.read_csv("https://raw.githubusercontent.com/ComputoCienciasUniandes/FISI2029-201910/master/Seccion_1/Fourier/Datos/transacciones2010.txt",sep=";", header=None, names=[ "Fecha" , "Hora","c", "Precio" ])
archivo3["Fecha"] = archivo3["Fecha"].astype(str).str[0:-8]
archivo3["Hora"] = archivo3["Hora"].astype(str).str[-8:] 
#print(archivo3)

In [5]:
concatenados=pd.concat([archivo,archivo2,archivo3])
print(concatenados)

             Fecha      Hora       c      Precio
0         2/1/2008   8:49:33  499,00   500000,00
1         2/1/2008   8:49:40  499,00   500000,00
2         2/1/2008   8:49:58  499,00   100000,00
3         2/1/2008   8:50:09  499,00   250000,00
4         2/1/2008   8:50:17  499,40   200000,00
5         2/1/2008   8:50:20  499,49   500000,00
6         2/1/2008   8:50:26  499,50   500000,00
7         2/1/2008   8:50:26  499,00   200000,00
8         2/1/2008   8:50:34  499,49   500000,00
9         2/1/2008   8:51:00  499,80   200000,00
10        2/1/2008   8:54:25  499,50   250000,00
11        2/1/2008   8:55:12  499,10  1000000,00
12        2/1/2008   8:55:40  499,30   150000,00
13        2/1/2008   8:55:57  499,10   200000,00
14        2/1/2008   8:56:10  498,90   200000,00
15        2/1/2008   8:56:13  498,85  1000000,00
16        2/1/2008   8:57:02  498,75   100000,00
17        2/1/2008   8:57:06  498,70  1000000,00
18        2/1/2008   8:57:14  498,00   100000,00
19        2/1/2008   8:58:38  498,40  1000000,00
20        2/1/2008   9:00:14  498,45   100000,00
21        2/1/2008   9:00:38  498,50   100000,00
22        2/1/2008   9:01:08  498,40   500000,00
23        2/1/2008   9:03:08  498,25   250000,00
24        2/1/2008   9:03:09  498,25   250000,00
25        2/1/2008   9:03:15  498,25   100000,00
26        2/1/2008   9:03:15  498,25   400000,00
27        2/1/2008   9:03:29  498,20  1000000,00
28        2/1/2008   9:03:29  498,25  1000000,00
29        2/1/2008   9:05:11  498,20   600000,00
...            ...       ...     ...         ...
474337  30/12/2010  12:42:10  468,20   350000,00
474338  30/12/2010  12:45:21  468,50   150000,00
474339  30/12/2010  12:46:27  468,00  2000000,00
474340  30/12/2010  12:51:41  468,30   450000,00
474341  30/12/2010  12:51:41  468,00   400000,00
474342  30/12/2010  12:51:41  468,20   850000,00
474343  30/12/2010  12:51:45  468,30   450000,00
474344  30/12/2010  12:53:58  468,15   162000,00
474345  30/12/2010  12:54:53  468,00   550000,00
474346  30/12/2010  12:56:06  468,00   238000,00
474347  30/12/2010  12:56:55  467,90   280000,00
474348  30/12/2010  13:04:26  466,50   200000,00
474349  30/12/2010  13:09:24  467,50   500000,00
474350  30/12/2010  13:09:25  467,50   500000,00
474351  30/12/2010  13:10:41  467,50   500000,00
474352  30/12/2010  13:11:10  467,25   650000,00
474353  30/12/2010  13:11:14  467,15   270000,00
474354  30/12/2010  13:27:59  467,45   500000,00
474355  30/12/2010  13:29:24  467,35   500000,00
474356  30/12/2010  13:29:40  467,45   500000,00
474357  30/12/2010  13:29:53  467,50  3000000,00
474358  30/12/2010  13:30:11  467,50  1000000,00
474359  30/12/2010  13:31:35  467,28   600000,00
474360  30/12/2010  13:31:39  467,30   100000,00
474361  30/12/2010  13:31:40  467,40   250000,00
474362  30/12/2010  13:46:54  468,50   150000,00
474363  30/12/2010  13:52:09  468,60   250000,00
474364  30/12/2010  13:52:10  468,60   250000,00
474365  30/12/2010  13:52:42  468,70   150000,00
474366  30/12/2010  14:01:14  468,80   190000,00

[1358774 rows x 4 columns]

In [6]:

concatenados.to_csv("./data.csv")